{% extends "../../Skeleton/Layout/default.twig" %}

{% block column_left %}
    <nav class="skeleton-menu-left">
        <div class="skeleton-menu-left-header">
            Tools
        </div>
        <div id="{{ id['menu1'] }}"></div>
    </nav>
    <nav class="skeleton-menu-left">
        <div class="skeleton-menu-left-header">
            Configuration
        </div>
        <div id="{{ id['menu2'] }}"></div>
    </nav>
    <div style="text-align: center;">
        <a class="btn btn-info" onclick="App.getModule('CmsIndexList')">Page and theme</a>
    </div>
{% endblock %}